
  <head>
    <style type="text/css">
      body
        {
          font-family:Arial;
          background-color:#d0e4fe;
        }

      h1
        {
          background-color:purple;
          text-color: red;
          text-align:center;
        }
    </style>
  </head>

